
.topNav{
    background-color:  #BDC3CB; 
    font-family: 'Optima', sans-serif;
    text-align: right;
    overflow: hidden;
    justify-content: space-around;
    font-size: 20px;
}
.logo{
    float: left;
}

.topNav a{
    background-color: #BDC3CB; 
    color: white;
    text-decoration: none;
    float: right;
    text-align:center;
    padding: 14px 16px;
    letter-spacing: 2px;

}
.topnav a.spotLite{
    background-color: #EDE4E3;
    color:#080000;
}

.foot{
    background-color: #bdc3cbaf;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: black;
    width: 100%;
}

