
nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #C0C0C0; 
    font-family: 'Optima', sans-serif;
}
.logo{
    float: left;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color:#C0C0C0;
    font-weight: bold;
    text-decoration: none;

}
