*{
    font-family: 'Optima', sans-serif;
    letter-spacing: 1.5px;
}

.topNav{
    background-color:  #BDC3CB; 
    font-family: 'Optima', sans-serif;
    text-align: right;
    overflow: hidden;
    justify-content: space-around;
    font-size: 20px;
}
.logo{
    float: left;
}

.topNav a{
    background-color: #BDC3CB; 
    color: white;
    text-decoration: none;
    float: right;
    text-align:center;
    padding: 14px 16px;
    letter-spacing: 2px;

}
.topnav a.spotLite{
    background-color: #EDE4E3;
    color:#080000;
}

.foot{
    background-color: #bdc3cbaf;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: black;
    width: 100%;
}

.newProgramForm{
    background-color: #CCAFA5;
    position: fixed;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 800px;
}

input[type=text], input[type=number], input[type=datetime-local], option, select,textarea, option{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal;
}